USE [master]
GO
/****** Object:  Database [TsdStudent2410900028Db]    Script Date: 26/09/2026 8:14:22 SA ******/
CREATE DATABASE [TsdStudent2410900028Db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TsdStudent2410900028Db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\TsdStudent2410900028Db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TsdStudent2410900028Db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\TsdStudent2410900028Db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TsdStudent2410900028Db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TsdStudent2410900028Db]
GO
/****** Object:  Table [dbo].[TsdStudent]    Script Date: 26/09/2026 8:14:23 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TsdStudent](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TsdName] [nvarchar](100) NOT NULL,
	[TsdGender] [bit] NOT NULL,
	[TsdBirthDay] [date] NULL,
	[TsdEmail] [varchar](100) NULL,
	[TsdPhone] [varchar](15) NULL,
	[TsdActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TsdStudent] ADD  DEFAULT ((1)) FOR [TsdActive]
GO
USE [master]
GO
